//<!--Niko Mäkelä 1601538, Matias Rantanen 1601551-->

page-welcome {

.swiper-paginator-bullet-active{
    background: white;
}
//image for backgound
.bg-image{
    background-image: url('../assets/imgs/kuva5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.padding{
    padding-bottom: 100px;
}


}
